
.header{
    margin-left: 0;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    padding: 0;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav{
    width: 100%;
    height: 75px;
    display: flex;
    padding: 2px;
    background-color:white;
}

.img{
    width: 155px;
    height: 66px;
    margin: 7px;
    display: flex;
    padding: 5px;
}
.nav ul{
    float: right;
    margin-top: 30px;
    margin-left: 100px;
    justify-content: space-around;
}
.nav ul li {
   
    display: inline;
    justify-content: space-between;
    text-decoration: none;
   
   
}
.nav li a{
    color:black;
    font-weight:550;
    opacity: 1;
    
       margin-inline-end:20px;
       font-family: PhonePeSans,sans-serif,Helvetica,Arial;
       font-size: 16px;
    text-decoration: none;
}
.nav li a:hover{
    color: #361374;
    transition: 0.5s;
    cursor: pointer;

}
.sec-1{
    width: 50%;
    height: 100%;
    margin-bottom: 15px;

}
.sec-1 img{
    align-items: center;
    display: flex;
    height: 75%;
    position:absolute;
    width: 100%;
    z-index: -3;
}
.text{
    line-height: 1.4;
    margin-left: 16vh;
    padding-top: 50px;
    overflow: auto;
    margin-top: 15px;
    color: #61219D;
}
.sec-1 a{
    margin-left: 16vh;
    align-items: center;
    background-color: #6739b7;
    border-radius: 33px;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
     padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px; 

    
}
.sec-2{
    width: 50%;
    height: 100%;
    margin-bottom: 15px;
    display: flex;
    margin-left: 100px;
}

.texts h1{
    margin-top: 200px;
    color: #361374;
    line-height: 1.12;
}
.text2 h2{
    font-size:20px; 
    font-weight: 500;
    letter-spacing: -.57px; 
   line-height: 1.12;
} 
.para{
    font-size:14px;
    color: grey;
    width: 90%;
    opacity: 0.7;
    line-height: 1.12;
    border-bottom: 1px solid grey;
}
.text3 h2{
    font-size: 20px; 
    font-weight: 500;
    letter-spacing: -.57px; 
   line-height: 1.12;

}

.text4 h2{
    font-size: 20px; 
    font-weight: 500;
    letter-spacing: -.57px; 
   line-height: 1.12;

}

.video video{
    display: flex;
    width: 100%;
    height: 600px;
    margin-top: 100px;
    margin-left: 300px;
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow: clip;
    

   
}
.sec-3{
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
   
    
}
.textimg{
    width: 300px;
    height: 200px;
    margin-left: 400px;
    display: flex;
    padding:0;
    opacity: 1;
    display: flex;
    margin-bottom: 70px;
    
   
}

.logoimg{
    margin-left: -350px;
    margin-top: 180px;
    display: flex;
    height: 100px;
    width: 200px;
}
.sec-4{
    width: 100%;
    display:inline-flexbox;
}
.one{

    padding: 10px;
   white-space: 0;
    width: 18%;
    overflow:inherit;
    overflow-clip-margin: content-box;
    overflow: clip;
    overflow-x: 1;
    overflow-y: 1;
}
.sec-4 p{
    margin-top: 30px;
    margin-left: 200px;
    margin-bottom: 100px;
    font-size:16px;
    color:black;
    width: 85%;
    opacity: 0.7;
    line-height:1.7;
}
.sec-4 a{
    margin-left: 500px;
    margin-top: 70px;
    align-items: center;
    background-color: #6739b7;
    border-radius: 33px;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
     padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px; 

}
.sec-4 p span{
    line-height: 2.5;
    margin-left: 350px;
    color: #61219D;
}
.sec-5{
    width: 100%;
}
.sec-5 h1{
    color: #361968;
    margin-left: 400px;
    
}
.sec-5 a{
    margin-left: 500px;
    margin-top: 30px;
    align-items: center;
    background-color:aqua;
    border-radius: 33px;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
     padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px; 
    
}
.sec-6{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}
.photo{
    width: 50%;
    height: 50%;
    margin-bottom: 100px;
    display: flex;
}
.textsec6 h1{
   
    font-family: PhonePeSans,sans-serif,Helvetica,Arial;
    width: 50%;
    color: #361374;
    margin-left: 100px;
    letter-spacing: 1.5;
    

}
.textsec6 h2{
    color: #323232;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: -.33px;
}

.textsec6 h3{
    color: #6739b7;
   opacity: 1;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -.33px;
    margin-bottom: 0;
}
.tag a{
    text-decoration: none;
    font-family: PhonePeSans,sans-serif,Helvetica,Arial;
    font-size: 15px;
    color: #333;
    font-weight: 300;

}
.textsec6 p{
    font-family: PhonePeSans,sans-serif,Helvetica,Arial;
    color: #333;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.2;
    padding-bottom: 8px;
    border-bottom: 1px solid grey; 
   
}

.footer{
    width: 100%;
    height: 700px;
    margin: 0;
    padding: 10;
}
.foot-1{
    height:700px ;
    padding-left: 50px;
    background-color: whitesmoke;
}
 .first img{
    display: flex;
    width: 130px;
    overflow: hidden;
   
} 


.second{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
.second a{ 
    
    margin-inline-end: 10px;
    display: block;
     line-height: 1.8;
    text-decoration: none;
    color: gray;
}  
.second  img{
    width: 50%;
}
.bottum{
    width: 100%;
}
.ft-copyright{
    width: 50%;
    margin-left: 250px;
    margin-top: 50px;
    display: flex;
}
.icons{
    margin-left: 1000px;
   width: 20px;
    display: inline;
}

